.barra {
  text-align: left;
  font-weight: bold;
  font-style: italic;
  font-size: 23px;
  color: white;
  background-color: #f4c414;
  height: 130px;
  /* box-shadow: 6px 36px 23px -39px rgba(0,0,0,0.75); */
}

.link:hover {
  color: white;
}

.align {
  text-align: center;
}

.good {
  font-size: 40px;
  /* font-family: 'Gloria Hallelujah', cursive; */
  font-family: "Kaushan Script", cursive;
}
.person {
  border-radius: 100px;
  width: 170px;
  box-shadow: 5px 5px 5px #0007;
  position: absolute;
  left: 20%;
  top: -25%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.cabec__wrap {
  position: relative;
}

.cabec__description {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  color: #0007;
  visibility: hidden;
  opacity: 0;

  transition: opacity .2s, visibility .2s;
}

.cabec__wrap:hover .cabec__description {
  visibility: visible;
  opacity: 1;
}
