.barra {
  text-align: left;
  font-weight: bold;
  font-style: italic;
  font-size: 23px;
  color: white;
  background-color: #f4c414;
  height: 130px;
  /* box-shadow: 6px 36px 23px -39px rgba(0,0,0,0.75); */
}

.link:hover {
  color: white;
}

.align {
  text-align: center;
}

.good {
  font-size: 30px;
  /* font-family: 'Gloria Hallelujah', cursive; */
  font-family: "Kaushan Script", cursive;
}
