.user {
    border: 1px solid black;
    width: 50%;
    height: 100px;
}
.foto {
    border: 1px solid black;
    width: 50%;
    height: 250px;
    display: inline-block;
}
.resumo {
    border: 1px solid black;
    width: 15%;
    height: 250px;
    display: inline-block;
}
.receita {
    border: 1px solid black;
    width: 50%;
    height: 250px;
    display: inline-block;
}

