.img-login {
  border-radius: 100%;
  width: 100px;
  box-shadow: 1px 1px 1px #0007;
}
.cabeca {
  width: 100%;
  height: 150px;
  border: 1px solid black;
}
.filtro {
  height: 500px;
  width: 150px;
  border: 1px solid black;
}
.cabecalho {
  height: 100px;
}
.name {
  font-size: 25px;
}
.data {
  font-size: 15px;
}
