.side-menu {
  font-size: 15pt;
  font: Arial;
  background: #d2691e;
  color: #fff;
  padding: 10px;
}
.titulo {
  font: Arial;
  background: #d2691e;
  color: #fff;
  padding: 10px;
}
.filtro {
  background: #d2691e;
  color: #f5fffa;
  padding: 20px;
  /* box-shadow: 8px 4px 8px #0007; */
  position:fixed;
  left:0;
  top: 5%;
  margin-bottom: 23px;
}
