<!DOCTYPE html>
<html>
<head>
    <title>Side Menu</title>
    <link rel="stylesheet" type="text/css" href="../assets/styles/sideMenu.css">

</head>
<body> 
    <div class=container >
    <h1 class="side-menu">Side menu</h1>
    <div>
    <h3 class="titulo">Filtro</h3>
    
        <ul>    
            <input type="checkbox" id="Avaliacao" name="avaliacao" value="avaliacao">
            <label>Avaliação</label><br>
            <input type="checkbox" id="Data" name="data" value="data">
            <label>Data</label> <br>
            <input type="checkbox" id="Pratos-Tipicos" name="Pratos-Tipicos" value="Pratos-Tipicos">
            <label>Pratos Típicos</label><br> 
            <ul>
                <input type="checkbox" id="Norte" name="Norte" value="Norte">
                <label>Norte</label><br>  
                <input type="checkbox" id="Nordeste" name="Nordeste" value="Nordeste">
                <label>Nordeste</label><br>
                <input type="checkbox" id="Centro-oeste" name="Centro-Oeste" value="Centro-Oeste">
                <label>Centro-Oeste</label><br>
                <input type="checkbox" id="Sudeste" name="Sudeste" value="Sudeste">
                <label>Sudeste</label><br>
                <input type="checkbox" id="Sul" name="Sul" value="Sul">
                <label>Sul</label><br>
            </ul>
            <input type="checkbox" id="Estado" name="Estado" value="Estado">
            
            <!--verificar o campo de estado-->
            <label>Estado</label><br> 
            <ul class="estados">
                <input type="checkbox" id="acre" name="acre" value="acre">
                <label>Acre</label><br>
                <input type="checkbox" id="alagoas" name="alagoas" value="alagoas">
                <label>Alagoas</label><br>
                <input type="checkbox" id="amapa" name="amapa" value="amapa">
                <label>Amapá</label><br>
                <input type="checkbox" id="amazonas" name="amazonas" value="amazonas">
                <label>Amazonas</label><br>
                <input type="checkbox" id="bahia" name="bahia" value="bahia">
                <label>Bahia</label><br>
                <input type="checkbox" id="ceara" name="ceara" value="ceara">
                <label>Ceará</label><br>
                <input type="checkbox" id="distrito-federal" name="distrito-feeral" value="distrito-federal">
                <label>Distrito Federal</label><br>
                <input type="checkbox" id="espirito-santo" name="espirito-santo" value="espirito-santo">
                <label>Espírito Santo</label><br>
                <input type="checkbox" id="goias" name="goias" value="goias">
                <label>Goiás</label><br>
                <input type="checkbox" id="maranhao" name="maranhao" value="maranhao">
                <label>Maranhão</label><br>
                <input type="checkbox" id="mato-grosso" name="mato-grosso" value="mato-grosso">
                <label>Mato Grosso</label><br>
                <input type="checkbox" id="ato-grosso-do-sul" name="mato-grosso-do-sul" value="mato-grosso-do-sul">
                <label>Mato Grosso do Sul</label><br>
                <input type="checkbox" id="minas-gerais" name="minas-gerais" value="minas-gerais">
                <label>Minas Gerais</label><br>
                <input type="checkbox" id="para" name="para" value="para">
                <label>Pará</label><br>
                <input type="checkbox" id="paraiba" name="paraiba" value="paraiba">
                <label>Paraíba</label><br>
                <input type="checkbox" id="parana" name="parana" value="parana">
                <label>Paraná</label><br>
                <input type="checkbox" id="pernambuco" name="pernambuco" value="pernambuco">
                <label>Pernambuco</label><br>
                <input type="checkbox" id="piaui" name="piaui" value="piaui">
                <label>Piauí</label><br>
                <input type="checkbox" id="rio-de-janeiro" name="rio-de-janeiro" value="rio-de-janeiro">
                <label>Rio de Janeiro</label><br>
                <input type="checkbox" id="rio-grande-do-norte" name="rio-grande-do-norte" value="rio-grande-do-norte">
                <label>Rio Grande do Norte</label><br>
                <input type="checkbox" id="rio-grande-do-sul" name="rio-grande-do-sul" value="rio-grande-do-sul">
                <label>Rio Grande do Sul</label><br>
                <input type="checkbox" id="rondonia" name="rondonia" value="rondonia">
                <label>Rondônia</label><br>
                <input type="checkbox" id="roraima" name="roraima" value="roraima">
                <label>Roraíma</label><br>
                <input type="checkbox" id="santa-catarina" name="santa-catarina" value="santa-catarina">
                <label>Santa Catarina</label><br>
                <input type="checkbox" id="sao-paulo" name="sao-paulo" value="sao-paulo">
                <label>São Paulo</label><br>
                <input type="checkbox" id="sergipe" name="sergipe" value="sergipe">
                <label>Sergípe</label><br>
                <input type="checkbox" id="tocantins" name="tocantins" value="tocantins">
                <label>Tocantins</label><br>
        </ul>
        
        </div>    
        
        <div>
        <h2 class="titulo">Sobre</h2>
            <ul class="sobre">
                <p>Criada a fim de poder levar as grandes invenções culinárias dos grandes restaruantes aos seus admiradores, o God Recipe surgiu como<br> uma alternativa para os apreciadores da Gastronomia poderem fazer seu próprio prato na comodidade de sua casa. 
            </ul>
        </div>
        <div>
            <h2 class="titulo">Localização</h2>
        <img src="brasil.jpg" alt="some text" width=200 height=200>
        <p>     
        </div>
    </div> 
</body>
  
</html>