<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../assets/styles/cabecalho.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        /* Style buttons */
        .barra {
            text-align: left;
            font-weight: bold;
            font-style: italic;
            font-size: 23px;
            color: white;
            background-color: #f48b14;
            height: 130px;
        }
       

        .link:hover{
            color: white;
        }
        
        .align {
            text-align: center;
        }
    </style>

    <title>Good Recipe</title>

</head>

<body>
    <div class="row barra">
        <div class="col-sm-1"></div>

        <div class="col-sm-1">
            <img src="../assets/imagens/cabecalho/icon/logotipo.png" alt="logotipo" width="120" height="120">
        </div>
        <div class="col">
            <div class="row" style="height: 30%">

            </div>
            <div class="row">
                <div class="col-sm-3 align">
                    <text>GOOD RECIPE</text>
                </div>

                <div class="col-sm-5">
                    <input class="form-control" style="width: 85%" type="search" placeholder="Buscar uma receita...">
                </div>

                <div class="col-sm-1">
                    <a href="#">
                        <img class="link" src="../assets/imagens/cabecalho/icon/person.png" style="width: 45px" />
                    </a>
                </div>
                <div class="col-sm-1">
                    <a href="#">
                        <img class="link" src="../assets/imagens/cabecalho/icon/login.png" style="width: 50px" />
                    </a>
                </div>
                <div class="col-sm-1">
                    <a href="#">
                        <img class="link" src="../assets/imagens/cabecalho/icon/config.svg" style="width: 55px" />
                    </a>
                </div>
                <div class="col-sm-1"></div>
            </div>
           
        </div>



    </div>

</body>

</html>